{% extends "layout.html" %}

{% block mainContent %}
  <p>
    Meet the members of J-cubed!  We are all second-year MBA students at the Yale School of Management. 
    
    <table style ="width:50%">
    <tr>
        <td><b>Jaze</b></td>
        <td><b>Joanne</b></td>
        <td><b>Tony</b></td>
    </tr>
    <tr>
        <td><img id="Jaze" src = "https://media.licdn.com/mpr/mpr/shrink_200_200/p/5/005/040/340/3eacc83.jpg"></td>
        <td><img id="Joanne" src = "https://media.licdn.com/mpr/mpr/shrink_200_200/p/6/005/088/054/389b9a7.jpg"></td>
        <td><img id="Tony" src = "https://scontent-b-lga.xx.fbcdn.net/hphotos-xfa1/v/t1.0-9/154444_1711491587044_2545902_n.jpg?oh=c16da2e9d790190b777d36c9bd2c6d5c&oe=55664431"></td>
    </tr>
    </table>
 </p>
{% endblock %}
